/* google poppins font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* common css part  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: #eaecf49f;
}

/* common part styling */
.max-width{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

/* navbar styling  */
.navbar{
    position: sticky;
    top: 0;
    background-color: #001c2a;
    z-index: 99;
    width: 100%;
}

.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    padding: 3px 0;
}

.logo img{
    height: 80px;
    width: auto;
}

.menu li {
    display: inline-block;
    font-family: 'Poppins', sans-serif; 
    padding: 10px;
    margin: 0 5px;
    
}

.menu li a{
    font-size: 20px;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
    transition: all ease 0.3s;
    
}

.menu li:hover a{
    color: #5ce1e6;

}


.menu-btn{
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 8px 15px;   
    display: none;
    border-radius: 3px;
    transition: all ease 0.3s;
    margin :0 10px 0 0;
}

.menu-btn:hover{
    background-color: #5ce1e6;
    color: #001c2a;
}

#click{
    display: none;
}

#click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }


/* Team heading part  */
.head-part{
    margin: 50px auto 20px;
    text-align: center;
}

.head-part h1{
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #001c2a;    
    border: 3px solid #001c2a;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 10px;
}

.head-part p{
    font-style: italic;
    font-size: 15px;
    margin-top: 5px;
}