@media (max-width: 850px){
  /* .event{
    display: flex;
    flex-direction: column;
  }
  .event-2{
    display: flex;
    flex-direction: column;
  } */

  .eventsection1{
    display: flex;
    flex-direction: column;
    /* margin-top: 27vw; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
      justify-content: center;
  }

  .eventsection2{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1vw;
    margin-left: 7vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    justify-content: center;
  }
  .eventsection3{
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    /* margin-left: 5vw; */
    align-items: center;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  #image-container {
    position: relative;
    /* padding-top: 60%; */
    width: 65%;
    height: 53vw;
    margin-left:0;
    margin-right: 9vw;
    margin-bottom: 6vw;
    justify-items: flex-end;
    align-items: center;
  }
  #image-container-2 {
    position: relative;
    /* padding-top: 60%; */
    width: 65%;
    height: 53vw;
    margin-left:-10vw;
    margin-right: 4vw;
    margin-bottom: 6vw;
    justify-items: center;
  }
  .content-of-event{
    display: flex;
    flex-direction: column;
    /* margin: 3vw; */
    /* padding: 10% 7%; */
   width: 70%;
   margin-top: 7vw;
   margin-left: 1vw;
   align-items: center;
   margin-bottom: 7vw;
  }
  .content-of-event-2{
    display: flex;
    flex-direction: column;
    /* margin: 3vw; */
    /* padding: 10% 7%; */
    width: 75%;
    margin-top: 7vw;
    margin-left: 1vw;
    margin-right: 3vw;
    align-items: center;
    margin-bottom: 7vw;
   
  }
  .content-of-event p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3vw;
    color: gray;
  }
  .content-of-event-2 p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3vw;
    color: gray;
  }
  .event-name{
    color: black;
    /* margin: 2vw; */
    margin-left: 0;
    display: flex;
    font-size: 5vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .slide {
    
    font-size: 2.5vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .slide h1{
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 5vw;
  }
  .title-text2 {
    
    font-size: 5vw;
    
  }
}

@media (max-width: 993px){

   .eventsection1{
    
    margin-top: 30vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
      justify-content: center;
      padding-right: 7vw;
      padding-left: 7vw;
  } 
  .eventsection2{
    padding-right: 7vw;
      padding-left: 7vw;
      margin-left: -1vw;
  }
  .eventsection3{
    padding-right: 7vw;
      padding-left: 7vw;
  }
  .content-of-event{
    display: flex;
    flex-direction: column;
    /* margin: 3vw; */
    /* padding: 10% 7%; */
   width: 90%;
   margin-top: 7vw;
   margin-left: 1vw;
   margin-bottom: 7vw;
  }
  .content-of-event-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin: 3vw; */
    /* padding: 10% 7%; */
    width: 90%;
    margin-top: 5vw;
    /* margin-left: -3vw; */
    /* margin-right: 3vw; */
    padding-right: 6vw;
    margin-bottom: 7vw;
    margin-left: 2vw;
    margin-right: 3vw;
   
  }
  #image-container {
    position: relative;
    /* padding-top: 60%; */
    
    margin-left:3vw;
    
  }
  #image-container-2 {
    position: relative;
    /* padding-top: 60%; */
  justify-items: center;
    margin-left:-7vw;
    /* width: 50%; */
  }

  .contact{
    height: 55%;
  }
  
}
@media (max-width: 900px) {

  .navbar{
    background-color: #001c2a;
    /* position: fixed; */
  }
    /* navigation bar  */
    .menu {
      position: fixed;
      top: 80px;
      right: -100%;
      background-color: #001c2a;
      height: 100vh;
      width: 100%;
      text-align: center;
      transition: all ease 0.3s;
    }
  
    #click:checked ~ .menu {
      right: 0%;
    }
  
    .menu li {
      display: block;
      margin: 20px auto;
    }
  
    .menu li a {
      font-size: 24px;
    }
  
    .menu-btn {
      display: block;
    }
    .content-of-event-2{
      justify-content: center;
      align-items: center;
      padding-right: 0;
    }



    /* .eventsection1{
      display: flex;
      flex-direction: column;
      margin-top: 24vw;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      align-items: center;
      justify-content: center;
    } */

  }
  
  @media (max-width: 900px) {
    /* .contact part  */
    .contact {
      padding: 10px 0;
    }
    .contact h1 {
      font-size: 35px;
    }
  
    .box {
      margin-left: 0px;
      padding: 0 10px;
    }
    .box-1 .content-1 {
      font-size: 15px;
      padding: 10px 0;
    }
  
    .box-1 i {
      font-size: 20px;
    }
  
    .content-1 .fa-map-marker-alt {
      font-size: 30px;
    }
  
    .box h4 {
      font-size: 15px;
    }
  
    .box-2 .data a {
      font-size: 15px;
    }
    .box-2 .data i {
      font-size: 15px;
      margin-right: 10px;
    }
  
    .social-icon li a {
      width: 40px;
      height: 40px;
      /* padding: 10px; */
      font-size: 1rem;
    }
  
    /* footer part  */
    footer {
      font-size: 12px;
    }
  
    footer span {
      font-size: 14px;
    }



    /* images of slider */


    .card {
      position:absolute;
      width: 60%;
      height: 70%;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      /* margin: auto; */
      /* transition: transform 0.4s ease; */
      cursor: pointer;
     
      
   }

   .song-info .title {
    color: #403d40;
    /* font-size: 14px; */
    font-size: 4vh;
    
    /* line-height: 5.8vw; */
    line-height: 5vw;
    
 }
 .effect--1{
   padding-bottom: 20vw;
 }
  }



  @media (max-width: 850px){


    /* .eventsection1{
      display: flex;
      flex-direction: column;
      margin-top: 46vw;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      align-items: center;
      justify-content: center;
    } */


    
#slider {
  width: 100vw;
  height: 1600px;
  overflow: hidden;
  color: white;
  /* font-size: 2.5vw; */
  /* margin-top: 20vw; */
}
.header-block {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vw;
  z-index: 10;
  overflow: hidden;
  margin-top: 10vw;
}
#particles-js2 {
  position: absolute;
  width: 100%;
  height: 100vw;
  /* background: linear-gradient(black, navy, rgb(2, 138, 138), navy, black);; */
  background: linear-gradient(black,navy, #001c2a,black,navy,black, #001c2a,navy, black);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  z-index: -500;

}
/* ==============contact part height=================== */
.contact{
  height: 45%;
}
.effect--1{
  padding-bottom: 29vw;
}
  }
  @media (max-width: 1100px) {
  .contact{
   
    height: 40vw;
   
  }
}

@media (max-width: 1000px) {
  .contact{
   
    height: 45vw;
   
  }
}

@media (max-width: 700px) {
  .contact{
   
    height: 53vw;
   
  }
  .title-text2 {
    
    font-size: 7vw;
  }
}
@media (max-width: 600px) {
  .contact{
   
    height: 52vw;
   
  }
}
@media (max-width: 550px) {
  .contact{
   
    height: 55vw;
   
  }
}
@media (max-width: 500px) {
  .contact{
   
    height: 75vw;
   
  }
}

@media (max-width: 485px) {
  .contact{
   
    height: 78vw;
   
  }
}
@media (max-width: 465px) {
  .contact{
   
    height: 82vw;
   
  }
}
@media (max-width: 435px) {
  .contact{
   
    height: 87vw;
   
  }
}
@media (max-width: 400px) {
  .contact{
   
    height: 94vw;
   
  }
}
@media (max-width: 380px) {
  .contact{
   
    height: 98vw;
   
  }
}
@media (max-width: 350px) {
  .contact{
   
    height: 130vw;
   
  }
}




  @media (max-width: 640px) {
    /* contact part  */
    .contact h1 {
      font-size: 25px;
      
    }
  
    .box-2 {
      display: none;
    }
  
    /* footer part  */
    footer {
      font-size: 11px;
    }
  
    footer span {
      font-size: 11px;
    }

    /* heading part */
    .heading-part h1{
      font-size: 30px;
      border-bottom: 2px solid #001c2a;
      margin-top:  11vw;
      margin-bottom: 5vw;
  }

  
  .song-info .title {
    color: #403d40;
    /* font-size: 14px; */
    font-size: 4vh;
    
    line-height:6.98vw;
    /* line-height: 5vw; */
    
 }


 /* .eventsection1{
  display: flex;
  flex-direction: column;
  margin-top: 56vw;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  align-items: center;
  justify-content: center;
} */
    
  }


  @media (max-width: 600px) {

    .content-of-event{
      justify-content: center;

    }
    .content-of-event-2{
      justify-content: center;
      align-items: center;
      padding-right: 0;
      
    }

  }
  
  @media (max-width: 500px) {
   /* ---heading */
    .head-part h1{
          
      font-size: 8.5vw;
    }
  
    /* contact part  */
    .contact .fill-up {
      flex-direction: column;
    }
  
    .box h4 {
      text-align: center;
      padding: 10px 0 5px 0;
    }
  
    .social-icon li {
      display: inline-block;
      margin: 8px 16px;
    }
  
    /* footer part  */
    .timer{
      font-size: 40px;
    }
    footer span {
      display: none;
    }
  }
  
  


